/* @import url('https://fonts.googleapis.com/css2?family=Gugi&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,400&display=swap'); */

.page {
  padding: 20px;
  height: 100vh;
  background-image: url('/world.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  background-origin: content-box;
}

.title {
  /* font-family: 'Lora', serif; */
  font-family: 'Metropolis', serif;
  text-align: center;
  width: 100%;
  margin-bottom: 24px;
  color: white;
  /* filter: drop-shadow(0 0 2px aqua); */
  /* letter-spacing: 10px; */
  font-size: clamp(20rem, 5vw, 60rem);
  font-weight: 700;
}

.subtitle {
  font-family: 'Metropolis', serif;
  text-align: center;
  /* font-size: 24px; */
  font-size: clamp(10rem, 4vw, 20rem);
  color: white;
  font-weight: 500;
  margin-bottom: 24px;
  width: 100%;
}

.subtitle span {
  font-weight: 700;
  /* opacity: 0.5; */
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 8px;
}

.card {
  will-change: contents;
  position: relative;
  /* background-color: hsla(0, 0%, 0%, 0.2); */
  color: white;
  padding: 8px;
  text-align: center;
  display: grid;
  gap: 10px;
  border-radius: 8px;
  width: fit-content;
  transition: background-color 500ms;
  margin: auto;
  justify-content: center;
}

.card h2 {
  font-size: clamp(12rem, 2.5vw, 16rem);
  white-space: nowrap;
  overflow: hidden;
}

.flag {
  position: absolute;
  right: -10px;
  bottom: 0px;
  outline: 1px solid black;
}

.card:hover {
  cursor: pointer;
  /* background-color: hsla(0, 0%, 0%, 0.5); */
}

.card:hover .card_image,
a:focus .card_image {
  border: 2px solid aqua;
  box-shadow: 0 0 15px aqua;
  transition: transform .1s ease-in-out, box-shadow .1s ease-in-out;
  transform: scale(1.1);
}

.card .card_image {
  border-radius: 50%;
  border: 2px solid rgb(0, 158, 194);
  /* transition: 100ms; */
  height: 80px;
  width: 80px;
  transition: transform .1s ease-in-out, box-shadow .1s ease-in-out;
}

.card_image_container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  height: 80px;
  width: 80px;
  display: flex;
}

.card_image_container::after {
  font-family: 'Gugi';
  content: attr(data-turma);
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgb(0, 158, 200);
  color: rgb(1, 63, 125);
  outline: 1px solid rgb(0, 100, 200);
  font-size: 10rem;
  padding: 2px;
  width: 20px;
  height: 20px;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-position: center;
}

.card_image_container[data-turma='00']::after {
  content: '';
  background-color: white;
  color: rgb(1, 63, 125);
  outline: 1px solid #936cff;
  background-image: url('/rocketseat_icon.svg');
  background-position: center;
  background-size: 100%;
}

.card a {
  color: aqua;
  font-size: 12px;
}
