@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,400&display=swap');

.page {
  padding: 20px;
}

.title {
  font-family: 'Lora', serif;
  text-align: center;
  width: 100%;
  margin-bottom: 24px;
  color: white;
  filter: drop-shadow(0 0 5px aqua);
  letter-spacing: 10px;
  font-size: clamp(12rem, 5vw, 60rem);
  font-weight: 700;
}

.title span {
  font-weight: 400;
  opacity: 0.5;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 8px;
}

.card {
  background-color: hsla(0, 0%, 0%, 0.2);
  color: white;
  padding: 20px;
  text-align: center;
  display: grid;
  gap: 10px;
  border-radius: 8px;
  width: 100%;
  transition: background-color 500ms;
  margin: auto;
}

.card h2 {
  font-size: clamp(12rem, 3vw, 16rem);
  white-space: nowrap;
  overflow: hidden;
}

.card:hover {
  cursor: pointer;
  background-color: hsla(0, 0%, 0%, 0.5);
}

.card:hover .card_image {
  border: 2px solid aqua !important;
  box-shadow: 0 0 5px aqua !important;
}

.card_image {
  border-radius: 50%;
  border: 2px solid rgb(0, 158, 194) !important;
  /* box-shadow: 0 0 5px white !important; */
  transition: 500ms;
}

.card a {
  color:aqua;
  font-size: 12px;
}
