.card {
  color: white;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  max-width: 800px;
}

.user_info {
  display: grid;
  place-items: center;
  gap: 10px;
}

.user_info h2 {
  margin-top: 10px;
}

.user_info h4 {
  text-transform: uppercase;
  font-family: 'Gugi';
  font-weight: 400;
  font-size: 12px;
  background-color: rgb(0, 158, 200);
  color: rgb(1, 40, 79);
  outline: 1px solid rgb(0, 100, 200);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: -20px;
  position: relative;
  z-index: 2000;
}

.icons {
  font-size: 24px;
  color: rgb(0, 158, 200);
  /* background-color: hsla(0, 0%, 0%, 0.2); */
  padding: 1px;
}

.links,
.challenges {
  gap: 10px;
  display: grid;
  align-items: center;
}

.links .link {
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 8px;
  background-color: hsla(0, 0%, 0%, 0.2);
  padding: 0px 0px 0px 10px;
}

.links .link a {
  background-color: hsla(0, 0%, 0%, 0.2);
  padding: 10px 0px 10px 10px;
  height: 100%;
  width: 100%;
  text-align: left;
  border-radius: 0 8px 8px 0;
}

.links .link a:hover {
  background-color: hsla(0, 0%, 0%, 0.5);
}

.challenges summary {
  background-color: hsla(0, 0%, 0%, 0.2);
  list-style: none;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
}

.challenges summary:hover {
  background-color: hsla(0, 0%, 0%, 0.5);
}

.challenges summary span {
  padding: 10px;
  background-color: hsla(0, 0%, 0%, 0.2);
}

.challenges summary div {
  display: flex;
  flex-direction: column;
}

.challenges small {
  color: rgb(169, 234, 255);
  font-size: 14rem;
  font-weight: 400;
}

.challenges strong {
  font-weight: 700;
  letter-spacing: 3rem;
  font-size: 18px;
}

.challenges .link {
  border-radius: 0px;
  background-color: hsla(0, 0%, 0%, 0.2);
  border-radius: 8px;
  text-align: left;
}

.challenges .link p {
  padding: 10px 0 10px 56px;
  text-align: left;
  font-size: 16rem;
  margin-bottom: 5px;
  background-color: hsla(0, 0%, 0%, 0.2);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.challenges .link div {
  padding: 10px;
}

.challenges .link:nth-of-type(1) {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 10px 0;
}

.challenges .link:nth-last-of-type(1) {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.link span {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.card_image {
  border-radius: 50%;
  border: 2px solid aqua;
}

.card a {
  /* color: rgb(0, 200, 255); */
  color: rgb(169, 234, 255);
  font-size: 16px;
  text-decoration: none;
}

.card a:hover {
  color: aqua;
  transition: 400ms;
}
